<h2>Create your Account Here</h2>
<p><%= @error %></p> 

<form action="/signup" method="POST">
    <label>Create Username:</label>
    <input type="text" name="username">
    <label>Create Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form> 