<div class="container">
  <header><img src="https://images.app.goo.gl/ZcY9Ax36pNrPpxaj9" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Care website</h2>

    <div class="content">
      <p> Where you can let go and be yourself! If you're seeing this page, then you are simply in the right place to be becasue you are very much cared for. To get started, Feel free to sign up OR login. We loved that you visited our webpage.</p>
    </div>

    <div class="sidebar">
      <h3></h3>
      <ul>
        <li><b>Created by:<h5>Naomi Rhames</h5></li>
        <li><b>Environment:</b><h5> Peaceful</h5></li>
        <li><b>Rules:</b><h5>Be kind, Be appropriate, Be yourself and Enjoy!</h5></li>
        <li><b>Make sure you..:</b><h5>Set up a appointment with your doctor today!</h5></li>
      </ul>
    </div>

  </div>
</div>
